.venv
skaffold.env
.git
.github
./polytope_server.egg-info
**/.git
./polytope-mars/tests
./polytope/tests
./polytope/examples
./polytope/performance
./docker/gribjump/build
./docker/gribjump/install
./docker/gribjump/git
