# SPDX-FileCopyrightText: 2026 European Centre for Medium-Range Weather Forecasts (ECMWF)
#
# SPDX-License-Identifier: Apache-2.0

/target
**/target
/.git
/.github
/.pytest_cache
/.venv
.cargo/
.ruff_cache
.pytest_cache/