attrdict==2.0.1
boto3==1.28.80
deepmerge==0.1.0
docker==4.2.0
ecmwf-api-client==1.5.4
falcon==2.0.0
falcon-jsonify==1.2
Flask==2.0.3
flask-mongoengine==0.8.2
flask-restful==0.3.7
flask-restplus==0.12.1
flask-script==2.0.5
flask-swagger-ui==3.25.0
flask-wtf==0.14.2
gunicorn==19.9.0
hiyapyco==0.4.14
Jinja2==3.1.1
jsonschema==2.5.1
ldap3==2.7
markdown==3.2.1
minio==5.0.7
pika==1.1.0
py-bcrypt==0.4
pykwalify==1.7.0
pymemcache==3.0.0
pymongo==4.6.0
pytest>=5.0.1
python-jose
python-keycloak==0.24.0
pyyaml==5.1.1
redis==3.4.1
requests==2.22.0
werkzeug==2.0